

body {
  color: #fff;
  background-color: #fff;
  box-sizing: border-box;
}

.print-hr-divider{
  display: none;
}
#title-hr-divider {
  color: rgb(0, 57, 114);
  width: 100%;
  border-top: 3px solid;
}
/* 
.row .project, .row .skills, .row.employment-container, .row, .summary-text, ul.contact-list {
  display: none;
} */

.mobile-date {
  display: none;
}
#curriculum-link {
  opacity: 1;
}
a {
  transition: 0.6s;
  opacity: 0.9;
  text-decoration: none;
  color: #252525;
}

a:hover {
  transition: 0.6s;
  opacity: 1;
  cursor: pointer;
  color: #424250;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}


.main-container {
  background-color: #fff;
  width: 70%;
}


body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

.curriculum-link:hover {
  text-decoration: underline;
}

p, li {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #424250;
}

p {
  line-height: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  background-color: #fff;
}

.profile-photo-container {
  display: flex;
  justify-content: center;
}

/* Summary */

h2.title {
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  margin: 6px 0;
  letter-spacing: 1.2px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

h2.title:after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-bottom: 3px solid #003d70;;
  overflow: hidden;
  justify-content: space-around;
}

.main-name {
  text-align: center;
  font-size: 54px;
  padding: 20px 0px 5px 0px;
}

.web-dev {
  text-align: center;
}

.contact-info {
  width: 100%;
  justify-content: center;
}

.img-header {
  padding-top: 10px;
  width: 100%;

}

.title:hover {
  cursor: pointer;
}

.summary-container {
  width: 100%;
}

.summary-text {
  text-align:center;
  font-size: 19px;
}

.summary-container h3 {
  margin-bottom: 20px;
}

.summary-container p {
  line-height: 30px;
  margin-bottom: 10px;
}

.summary-container a {
  font-weight: 500;
}

.icon-contact-list {
  font-size: 18px;
}



/*--- Skills ---*/
#skills-container {
  display: none;
}

#skill-icon:hover {
  cursor: default;
}
#skill-icon:after {
  cursor: default;
}
#skill-icon:before {
  cursor: default;
}

div .skills {
  width: 100%;
}
.skills h4 {
  margin-bottom: 10px;
  padding: 0 5px;
}

.skills p {
  padding: 0 5px;
}

.skill-set {
  width: 33%;

}

#skills-container {
  display: flex;
  text-align: center;
}

.skills-title {
  font-size: 20px;
}

.skills-body {
  font-size: 18px;
}
/*--- Contact info ---*/

ul.list-unstyled.contact-list.col-xs-12 {
  display: flex;
}
.contact-list {
  color: #252525;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-list > li {
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
}

.contact-list-container {
  margin: auto;
}

/* Employment/education */
.employment-container {
  padding-top: 0;
  padding-bottom: 0;
}

.bullet-list {
  padding-left: 20px;
  color: black;
}

section.employment, section.education {
 margin-bottom: 20px;
}

section.employment h4, section.education h4 {
  padding: 10px 0 8px 0;
  text-transform: uppercase;
  font-size: 20px;
}

section.employment h5, section.education h5 {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 500;
}

.LHL {
  width: 10%;
  height: 10%;
  /* display: inline; */
}

.education-name-award {
  display: inline-block;
}


.place-time {
  display: flex;
  justify-content: space-between;
}

h5.date, h5.education-date {
  padding-top: 10px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.education-award {
  font-size: 18px;
}

/*--- Projects ---*/

div .row .projects {
  width: 100%;
}
.project {
  max-width: 428px;
  margin: 0 auto 10px;
}

.projects img {
  max-width: 100%;
}

.projects h4 {
  margin: 5px 0;
}

.project-date {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 5px;
}

.project-title {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.projects p {
  margin-bottom: 5px;
}

/*--- Icons ---*/
.fa-chevron-right, .fa-code, .fa-database, .fa-toolbox {
  opacity: 0.9;
}
i.fab, i.fas, i.far {
  font-size: 1.5rem;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.5s ease;
}

i.fab:after, i.fas:after, i.far:after {
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  top: -3px;
  left: -5px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

i.fab:hover:after, i.fas:hover:after, i.far:hover:after {
  transform: scale(1.0);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.fab, i.fas, i.far {
  background-color: rgb(0, 57, 114);
}

i.fab:hover, i.fas:hover, i.far:hover {
  color: rgb(0, 57, 114);
}

i.fab:after, i.fas:after, i.far:after {
  border-color: rgb(0, 57, 114);
}

i.fab:hover, i.fas:hover, i.far:hover {
  background-color: transparent;
  transform: rotate(360deg);
  cursor: pointer;
  box-shadow: none;
}

/* Media Queries */


@media screen and (max-width: 480px) {
  a {
    opacity: 1;
  }

  .bullet-list {
    padding-left: 0px;
  }
  .main-name {
    font-size: 45px;
    text-align: center;
    padding: 5px 0px 0px 0px;
  }

  li {
    font-size: 17px;
  }

  .mobile-date {
    display: inline
  }

  .date {
    display: none;
  }

  .web-dev {
    text-align: center;
  }
  
  .summary-container h3 {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 20px;
  }

  .summary-text {
    text-align: center;
  }

  .contact-list > li {
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
}

  .contact-list {
    justify-content: end;
  }
}

@media screen and (max-width: 500px) {
  #skills-container {
    display: inline;
  }
  .icon-contact-list {
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .skill-set {
    width: 100%;

  }

}

@media screen and (min-width: 480px) and (max-width: 992px) {
  .main-name {
    text-align: center;
  }

  .web-dev {
    text-align: center;
  }

  .summary-container h3 {
    text-align: center;
  }

  .summary-container {
    padding-top: 0;
  }
}


@media (min-width: 1900px) {
  .main-container {
    max-width: 1700px;
  }
}

/* Icon media queries */
@media (min-width:601px) {
	i.fab, i.fas, i.far {
		padding:10px;
		margin:5px;
		font-size:1.5rem;
	}
}

@media (min-width:993px) {
	i.fab, i.fas, i.far {
		padding:12px;
		margin:5px;
		font-size:1.5rem;
	}
	i.fab:after, i.fas:after, i.far:after {
		border-width:3px;
		top:0px;
		left:-1px;
	}
}